<!DOCTYPE html>
<html>
	<head>
		<script src="/library/jquery/jquery-2.1.0.min.js"></script>
		<script src="/library/jso/jso.js"></script>
		<script src="/javascript/oauth.js"></script>
	</head>
	<body>
	</body>
</html>