<!DOCTYPE html>
<html>
  <head>

    <!-- CSS Files -->
    <link href="/library/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>

    <!-- NoteHub Header -->
    <% include ./header.ejs %>

    <!-- Contents -->
    <div class="container">
      <h1>Document</h1>
    </div>


    <!-- Script Files -->
    <script src="/library/jquery/jquery-2.1.0.min.js"></script>
    <script src="/library/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
