<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NoteHub</title>

    <!-- CSS Files -->
    <link href="/library/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>

    <!-- NoteHub Header -->
    <% include ./header.ejs %>

    <!-- Contents -->
    <div class="container">
      <h1>Editor</h1>
    </div>


    <!-- Script Files -->
    <script src="/library/jquery/jquery-2.1.0.min.js"></script>
    <script src="/library/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
