<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NoteHub</title>

    <!-- Bootstrap core CSS -->
    <link href="/library/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/library/bootstrap-3.2.0/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- jstree -->
    <link rel="stylesheet" href="/library/jstree/dist/themes/default/style.min.css" />

    <link href="/library/jquery.ui.smoothness/jquery-ui.css" rel="stylesheet">

    <!-- Global CSS -->
    <link rel="stylesheet" href="/stylesheets/common.css">

    <!-- editor page css -->
    <link rel="stylesheet" href="/stylesheets/editor.css">

    <!-- <link rel="stylesheet" href="/stylesheets/editor.css" /> -->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css">

  </head>

  <body>

    <% include ./header.ejs %>

    <div id="editor-body" class="row">

      <div id="left-sidebar">
        <div class="left-sidebar-bookmarkList">
          <div id="jstree-wrapper">
            <!-- 3 setup a container element -->
            <div id="jstree">

            </div>
          </div>
        </div>
        <div class="addPreviewBtn-wrapper">
          <a class="btn" style="background: #FF865C; color: #fff;" id="view-preview">View Preview</a>
        </div>
      </div>

      <div id="wrapper" class="toggled" style="background: #F2F2F2">
          <!-- Sidebar -->
          <div id="slidebar-content">
              <ul class="slidebar-previewList">
              </ul>
          </div>

          <div id="preview-container">
            <div id="previewPage" class="panel panel-default">
            </div>
          </div>

          <!-- Page Content -->
          <div id="page-content-wrapper">
              <div class="container-fluid">
                <div class="menu-trigger"></div>
                <div class='header row'>
                  <div class='col-sm-6'>
                    <h1 class='current_writing_title text-ellipsis display_inline' id='writing_title'>Untitled Document</h1>
                    <h4 class='current_writing_category text-ellipsis display_inline' id='writing_category'>Category</h4>
                  </div>
                </div>
                <div class='menu row'>
                  <div class='col-sm-12'>
                    <div class='menu'>
                      <a class="btn btn-sm btn-default default-tooltip" data-toggle="tooltip" href="#" id="save_writing_button" title="Save writing">
                        <span class='glyphicon glyphicon-floppy-saved'></span>
                      </a>

                      <div class='btn-group' data-toggle='buttons' id="toggle_preview_btn">
                        <label class='btn btn-sm btn-default btn-checkbox active default-tooltip' data-toggle='tooltip' title='Show/Hide Review'>
                          <input type="checkbox" checked="checked" id="toggle_preview" name="toggle_preview" value="" />
                          <span class='glyphicon glyphicon-align-justify'></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='contents row'>
                  <div class='col-sm-12' id='editor' data-state="<%=editorState%>" data-filename="<%=documentName%>">
                    <textarea class="ckeditor1 source box" cols="80" id="editor1" name="editor1" rows="10"></textarea>
                  </div>
                </div>

              </div>
          </div>
      </div>

      <div class='modal fade' id='modal-edit-writing'>
          <div class='modal-dialog'>
            <div class='modal-content'>
              <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>
                  &times;
                </button>
                <h4 class='modal-title'>Change Title and Category</h4>
              </div>
              <div class='modal-body'>
                <div class='form-horizontal'>
                  <div class='modal-message'></div>
                  <div class='form-group'>
                    <label class="control-label col-sm-2" for="title">Title</label>
                    <div class='col-sm-8'>
                      <input autofocus="autofocus" class="form-control" id="modal-title" name="title" type="text" value="" />
                    </div>
                  </div>
                  <div class='form-group'>
                    <label class="control-label col-sm-2" for="category_id">Category</label>
                    <div class='col-sm-8'>
                      <select class="form-control" id="modal-category" name="category_id">
                        <option value="">Choose Category</option>
                        <option value="report">report</option>
                        <option value="homework">homework</option>
                        <option value="lecture">lecture</option>
                        <option value="diary">diary</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class='modal-footer'>
                <button class='btn btn-primary' data-dismiss='modal' id='btn-done' type='button'>
                  Done
                </button>
                <button class='btn btn-default' data-dismiss='modal' type='button'>
                  Cancel
                </button>
              </div>
            </div>
          </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/library/jquery/jquery-1.9.1.js"></script>
    <script src="/library/jquery.ui.smoothness/jquery-ui.js"></script>

       <script src="/library/jquery-ui/jquery-ui.min.js"></script>
    <script src="/library/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script src="/library/Class/class.js"></script>
    <script src="/library/bootstrap-3.2.0/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="/library/bootstrap-3.2.0/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- ckEditor -->
    <script src="/library/CKEditor4/ckeditor.js"></script>

    <!-- Global Script -->
    <script src="/javascript/common.js"></script>
    <script src="/javascript/editor.js"></script>

    <!-- jstree -->
    <script src="/library/jstree/dist/jstree.min.js"></script>
  </body>
</html>
