<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-FRAME-OPTIONS" content="DENY">


		<link href="/library/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/library/jquery-ui/jquery.contextMenu.css" rel="stylesheet">
		<script src="/library/jquery/jquery-2.1.0.min.js"></script>
		<script src="/library/jquery-ui/jquery-ui.min.js"></script>
		<script src="/library/jquery-ui/jquery.contextMenu.js"></script>
		<script src="/library/jso/jso.js"></script>
		<script src="/javascript/common.js"></script>
		<script src="/javascript/main.js"></script>
		<script src="/javascript/oauth.js"></script>
		<style type="text/css">
			.long_name_overflow{
			  white-space:nowrap;
			  overflow:auto;
			  text-overflow:clip;
			}
			.long_name_overflow::-webkit-scrollbar { 
			    display: none; 
			}
			html, body, .row{
				height: 100%;
			}
			#back_blur{
				background: url('/images/2.jpg') no-repeat fixed center;
				-webkit-filter: blur(5px);
				-moz-filter: blur(5px);
				-o-filter: blur(5px);
				-ms-filter: blur(5px);
				filter: blur(5px);
				position: fixed;
				top: 0;
				height:100%;
				width: 100%;
				z-index: -10;
			}
			.row{
				background: transparent;
			}

			.directory-list{
				border-right: 3px solid #cccccc;
				height: 100%;
				background: transparent;
				padding-right: 3px;
				padding-left: 3px;

			}
			li{
				background-color: rgba(255,255,255,0.2);
			}
			.user_name_input_text{
				border: 0 none;
		        background-color: rgba(255,255,255,.4);
		        color: inherit;
		        padding: 0;
		        padding-left: 1%;
		        height: 40px;
		        width: 100%;
		        float: left;
			}
			h3{
				margin-top: 0;
				font-size: 30pt;
				width: 100%;
				text-align: center;
				background-color: rgba(255,255,255,0.2);
				color: white;
			}
			#title_div{
				width: 100%;
			}
			#title_div>p{
				font-size: 50pt;
				width: 100%;
				text-align: center;
				background-color: rgba(255,255,255,0.2);
				color: white;
				margin-bottom: 3px;
			}
		</style>
	</head>
	<body>
		<div id="back_blur"> </div>
		<div class="row">
			<div id="title_div"><p>BookMark Managing Site</p></div>
			<div class="col-xs-4 directory-list" id="directory-list-only">
				<h3>Folder List</h3>
				<ul class='list-group' id="dir_only_list">
                
              </ul>

			</div>

			<div class="col-xs-8 directory-list" id="directory-list-both">
				<h3>Bookmark List</h3>
				<ul class='list-group' id='dir_with_file_list'>


              </ul>
			</div>

		</div>
	</body>
</html>
