/**
 * @author dooseong, eom
 */

body {
	background: #556270;
	color: #353d46;
}

/*
 Menu
 */
nav#slide-menu {
	position: fixed;
	top: 60px;
	left: -100px;
	bottom: 0;
	display: block;
	float: left;
	width: 100%;
	max-width: 284px;
	height: 100%;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
nav#slide-menu > ul {
	display: block;
	margin: 20px 40px 40px 40px;
	padding: 0;
	list-style: none;
	opacity: 0.5;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
nav#slide-menu > ul li {
	color: #dfe5eb;
	padding: 6px 0;
	cursor: pointer;
}
nav#slide-menu > ul li:hover {
	color: #59e9df;
}
nav#slide-menu > ul li:before {
	font-family: "ico";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	color: #59e9df;
	margin-right: 12px;
	text-align: center;
	font-variant: normal;
	font-size: 0.75em;
	text-transform: none;
	line-height: 1em;
}
nav#slide-menu > ul li.sep {
	margin-top: 7px;
	padding-top: 14px;
	border-top: 1px solid #6b7b8d;
}
nav#slide-menu > ul li.timeline:before {
	content: '\e805';
}
nav#slide-menu > ul li.events:before {
	content: '\e802';
}
nav#slide-menu > ul li.calendar:before {
	content: '\e800';
}
nav#slide-menu > ul li.settings:before {
	content: '\e803';
}
nav#slide-menu > ul li.logout:before {
	content: '\e804';
}

body.menu-active nav#slide-menu {
	left: 0px;
}

body.menu-active nav#slide-menu ul {
	left: 0px;
	opacity: 1;
}

/*
 Content
 */
div#content {
	/*position: fixed;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 60px;
	overflow: scroll;
	background: #fcfeff;
	border-radius: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: -3px 0 6px #4a5562;
	-webkit-box-shadow: -3px 0 6px #4a5562;
	box-shadow: -3px 0 6px #4a5562;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
div#content div.menu-trigger {
	position: fixed;
	top: 60px;
	left: 10px;
	width: 36px;
	height: 36px;
	background: #dfe5eb;
	cursor: pointer;
	border-radius: 5px;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
div#content div.menu-trigger:before {
	content: '\e801';
	display: inline-block;
	width: 36px;
	height: 36px;
	color: black;
	font-family: "ico";
	font-style: normal;
	font-size: 1.2em;
	font-weight: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	line-height: 36px;
}
div#content div.menu-trigger:hover {
	background: #556270;
}
div#content div.menu-trigger:hover:before {
	color: #fcfeff;
}

body.menu-active div#content {
	left: 284px;
	border-radius: 7px 0 0 7px;
}

body.menu-active div#content .menu-trigger {
	left: 294px;
}

#jstree-wrapper {
	width: 250px;
	height: 350px;
	/*margin-left: 20px;
	border: 1px solid #6b7b8d;
	border-radius: 5px;*/
	overflow-y: scroll;
}

#jstree {
	overflow-y: hidden;
	overflow-x: hidden;
}

/*.jstree-default .jstree-anchor{
  white-space:nowrap;
  overflow:auto;
  text-overflow:clip;
}

.jstree-default .jstree-anchor::-webkit-scrollbar {
    display: none;
}

*/

.slide-menu-bookmarkList {
	width: 250px;
	height: 380px;
	margin-left: 20px;
	border: 1px solid #6b7b8d;
	border-radius: 5px;
}

.addPreviewBtn-wrapper {
	text-align: right;
}

#previewTab-content {
	width: 100%;
	height: 85%;
}

.preview-content {
	width: 100%;
	height: 100%;
	padding : 0px !important;
}

.preview-iframe {
	width: 100%;
	height: 95%;
	margin-top : 5px;
	border : none !important;
}

#previewTab-header li {
	max-width : 32%;
}


#previewTab-header li a{
	width: 100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.long_name_overflow{
  white-space:nowrap;
  overflow:auto;
  text-overflow:clip;
}
.long_name_overflow::-webkit-scrollbar {
    display: none;
}


#tabs {
    padding: 0px;
    background: none;
    border-width: 0px;
}
#tabs .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#tabs .ui-tabs-panel {
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top;
    border-width: 0px 1px 1px 1px;
}


.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 .2em 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-panel {
	padding: 1em;
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top;
    border-width: 0px 1px 1px 1px;
}

.ui-tabs .ui-tabs-nav {
	padding-left: 0.2em;
	background: url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_gloss-wave_100_ece8da_500x100.png) repeat-x scroll 50% 50% #ECE8DA;
	border: 1px solid #D4CCB0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.ui-tabs .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	border-color: #3c8243;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #327e04;
    background: #459e00 url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #459e00;
    text-decoration: none;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #ffffff;
    text-decoration: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #459e00;
    text-decoration: none;
}

.ui-widget-header a {
    color: #433f38;
}

.ui-tabs-nav .ui-state-active {
	border-color: #D4CCB0;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #d4ccb0;
    background: #fafaf4 url(images/ui-bg_highlight-hard_100_fafaf4_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #459e00;
}

.addPreviewBtn-wrapper {
    text-align: right;
}

.translate-btn-group-wrapper {
    text-align: center;
}

.translate-btn-group {
    margin : 5px 5px !important;
    position :  absolute;
    bottom : 0px;
}

.ui-tabs-panel {
    height : 520px;
    overflow : auto;
}

.translateResultWrapper {
    display: none;
}

.translateResult {
    height: 230px;
    overflow:auto;
    margin : 5px;
    padding: 0px 21px !important;
    border-width: 0;
    background: none;
}

.shortly-for-translate {
    heigth : 225px !important;
}
